@media (max-width: 1095px) {
  .catalog {
    &__content {
      justify-content: center;
      gap: 10px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &__logo {
      img {
        width: 80%;
      }
    }
    &__official {
      font-size: 10px;
      span {
        font-size: 10px;
      }
    }
    &__phone {
      font-size: 14px;
    }
  }

  .promo {
    &__header {
      font-size: 30px;
    }
    &__subheader {
      font-size: 16px;
    }
  }
  .button {
    width: 130px;
    font-size: 10px;
    &__link {
      font-size: 12px;
    }
    &_subbmit {
      width: 100%;
    }
  }
  .promo {
    &__wrapper {
      align-items: center;
    }
    &__icon {
      padding: 0 20px 0 20px;
      font-size: 12px;
    }
  }
  .title {
    font-size: 26px;
    &_left {
      text-align: center;
    }
  }
  .advantages {
    &__wrapper {
      display: block;
    }
    &__item {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .consultation {
    &__descr {
      font-size: 16px;
    }
  }
  .carousel {
    &__inner {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .catalog {
    &__tab {
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .reviews {
    &__items {
      display: block;
      width: 100%;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    &__text {
      width: 100%;
    }
    &__header {
      margin-top: 20px;
      text-align: center;
    }
    &__subheader {
      text-align: center;
    }
  }
}
